<%- include("partials/header") %> 

<h1>This is the Food Up page</h1>

<a href="/FoodUp/new">Add new Food Post</a>

<ul>
    <% for( let i = 0; i < foodData.length; i++ ) { %>
        <div>
            <li><%= foodData[i]["name"]%></li>
            <img src="<%= foodData[i]["image"] %>">
        </div>
    <% } %>
</ul>

<%- include("partials/footer") %> 