<%- include("partials/header") %> 

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to Food Ups</h1>
            <a class="btn btn-lg btn-primary" href="/FoodUp">View all Food Posts</a>
        </div>
    </div>
</div>

<%- include("partials/footer") %> 