.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form{
    display: inline;
}

.btn-primary , .btn-success{
    background: #f15126;
    border: none;
}

.btn-primary:hover  , 
.btn-success:hover {
background: #f99b1c;
}